<h1>Carrito {{id}}</h1>

Producto(s):
{{#each products}}
  <div class="product-card">
    <h3>Artículo: {{item.title}}</h3>
    <p>precio: ${{item.price}} clp</p>
    <p>Cantidad: {{item.quantity}}</p>
  </div>

{{/each}}